//ボディ部分//
body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F8F8FF;

}

//ナビゲーションバー//
.navbar-laravel {
  background-color: #F8F8FF;
}

//トップページへのリンク
.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

