body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F8F8FF;
}

.navbar-laravel {
  background-color: #F8F8FF;
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

